body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  display: flex ;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.login-container{
  text-align: center;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.ttPrincipal{
  font-size: 1.5em;
  margin-inline: 100px;
  color: #0a0a0a;
}

.ttPrincipal1{
  font-size: 1.5em;
  margin-inline: 50px;
  color: #0a0a0a;
  position: relative;
  top: -200px;
}
.catalog-container{
  margin-inline: 100px;
  position: relative;
  color: #0a0a0a;
}


button {
  background-color: #4CAF50;
  color: white;
  padding: 15px 30px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
}

button:hover {
  background-color: #45a049;
}

/*Login*/
.container, .login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
}

input {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.BemVindo{
  position: center;
}

.button_clientes{
  display: flex;
  flex-direction: column; /* Alinha os itens em coluna */
  align-items: flex-start; /* Alinha os botões à esquerda */
  margin-top: 10px; /* Espaçamento acima dos botões */
}

.button_clientes button {
  margin-bottom: 10px; /* Espaçamento entre os botões */
}

.dados-pessoais{
  display: flex;
  background-color: #ffffff;
  padding: 75px;
  flex-direction: column;
  align-items: center;
  height: 500px;
  justify-content: space-between;
}

.ttDP{
  background-color: #1dd816;
  padding: 10px;
  border-radius: 10px;
}

/*Listar os dados pessoais do cliente*/
.dados-pessoais-container{
  display: flex;
  background-color: #ffffff;
  padding: 75px;
  flex-direction: column;
  align-items: center;
  height: 1000px;
  justify-content: space-between;
}

.lista-pedidos-container {
  display: flex;
  background-color: #aff3b5;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px;
}

.pedidos-tabela {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.pedidos-tabela th, .pedidos-tabela td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.pedidos-tabela th {
  background-color: #f2f2f2;
  color: black;
}

.pedidos-tabela td {
  color: black;
}

/*Gerenciar as compras, quais itens o cliente deseja comprar*/
.compras-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.itens-lista {
  margin-top: 20px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.quantidade-container {
  display: flex;
  align-items: center;
}

.quantidade-container button {
  margin: 0 10px;
}

.checkout-button {
  margin-top: 20px;
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}

/*Cliente: Pagamento das compras*/
.pagamento-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itens-selecionados {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 10px;
}

.item span {
  margin-right: 20px; /* Espaçamento entre as informações do item */
}

.forma-pagamento {
  margin-top: 20px;
}

.finalizar-compra-button {
  margin-top: 20px;
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}

select {
  padding: 5px;
  margin-top: 10px;
  font-size: 16px;
}

h3 {
  margin-top: 20px;
}

/*Gerenciar pedidos pendentes de confirmação*/
.gerenciar-pedidos-container {
  padding: 20px;
  
}

.pedido {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.pedido p {
  margin: 5px 0;
}

.botoes-acao {
  margin-top: 10px;
}

.confirmar-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancelar-button {
  background-color: #f44336;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirmar-button:hover,
.cancelar-button:hover {
  opacity: 0.8;
}

/* Estilos para a tela de Gerenciar Clientes */
.gerenciar-clientes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.gerenciar-clientes-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.gerenciar-clientes-button-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gerenciar-clientes-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.gerenciar-clientes-button:hover {
  background-color: #0056b3;
}

/* Estilos para a tela de Gerenciar Produtos */
.gerenciar-produtos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.gerenciar-produtos-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.gerenciar-produtos-button-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gerenciar-produtos-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.gerenciar-produtos-button:hover {
  background-color: #218838;
}

/*Remover Cliente(Vendedor)*/

.remover-cliente-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.buscar-cpf-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.buscar-cpf-container input {
  padding: 8px;
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.buscar-cpf-container button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dados-cliente-encontrado {
  margin-top: 20px;
  text-align: center;
}

.dados-cliente-encontrado p {
  margin: 5px 0;
}

.dados-cliente-encontrado button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/*Listar Clientes(Vendedor)*/

.listar-clientes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.tabela-clientes {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tabela-clientes th, .tabela-clientes td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.tabela-clientes th {
  background-color: #4CAF50;
  color: white;
}

.tabela-clientes tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tabela-clientes tr:hover {
  background-color: #ddd;
}


.alterar-estoque-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.busca-input {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.lista-itens-estoque {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item-estoque {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
}

.input-alterar {
  width: 100px;
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}

.btn-alterar {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-alterar:hover {
  background-color: #45a049;
}

p {
  margin: 5px 0;
}

/*Vendedor cadastro produto*/
.cadastrar-produto-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cadastrar-produto-container h2 {
  text-align: center;
  color: #333;
}

.cadastrar-produto-container form {
  display: flex;
  flex-direction: column;
}

.cadastrar-produto-container label {
  margin-bottom: 5px;
  color: #555;
}

.cadastrar-produto-container input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.cadastrar-produto-container input[type="checkbox"] {
  margin: 10px 0;
}

.cadastrar-produto-container button {
  padding: 10px;
  background-color: #28a745; /* Verde */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.cadastrar-produto-container button:hover {
  background-color: #218838; /* Verde mais escuro ao passar o mouse */
}
/*Listar produtos vendedor*/
.listar-produtos-container {
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.lista-produtos {
  list-style-type: none;
  padding: 0;
}

.lista-produtos li {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.lista-produtos li:last-child {
  border-bottom: none;
}
/*Remover produtos*/
.remover-produto-container {
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.tabela-produtos {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.tabela-produtos th, .tabela-produtos td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.tabela-produtos th {
  background-color: #f4f4f4;
}

button {
  background-color: #ff4c4c;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #ff3333;
}
